<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="商品进化算法实验室">
<meta name="author" content="rainasmoon">
<title>{% block title %}进化算法测试{% endblock %}</title>

{% load static %}
<link rel="stylesheet" type="text/css"
	href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
</head>
<body class="bg-light">

	{% block page_content %}{% endblock %}

	<script
		src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
	<script
		src="{% static 'bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
</body>
</html>
