{% extends "base.html" %} {% block page_content %}
<div class="nav-scroller bg-white shadow-sm">
	<nav class="nav nav-underline">
		<a class="nav-link active" href="{% url 'products:index' %}">主页</a> <a class="nav-link"
			href="{% url 'products:results' %}">  <span
			class="badge badge-pill bg-light align-text-bottom">20</span>
		</a> <a class="nav-link" href="#"></a> <a class="nav-link" href="{% url 'products:compare' 0 0 %}">投票</a>
	</nav>
</div>
<main role="main" class="container">
<h1 class="mt-4">搜索关键词</h1>
<p>
	根据 <strong>搜索</strong>统计的关健词。
</p>

{% if menu_list %} {% for amenu in menu_list %}
<div >
	<a href="{% url 'products:index_c' amenu.cid %}">{{ amenu.menu_name }}</a>
</div>
{% endfor %} {% else %}
<p>No products.</p>
{% endif %}

<a class="btn btn-lg btn-primary" href="{% url 'products:compare' 0 0 %}"  role="button">vote again?</a>
</main>
{% endblock %}
