.container {
    padding-top: 10px;
    margin-left: 50px;
    width: 90%;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #000000;
}


.form-horizontal .control-label {
    text-align: left;
}

.banner {
	width: 100%;
	height: 100px;
}

.flot-chart-css {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.error{
	color:#B94A48;
	
}